#display{
    font-family:cursive;
    font-size: 30px;
}
#content{
    position:absolute;
    top:43%;
    left:26%;
    font-family:sans-serif;
    font-size:30px;
    padding:15px;
    margin:10px;
    color:#00CCFF;
    
}
input,select{
    width:250px;
    height:32px;
    color:blue;
}
#head1
{
    
    font-family:sans-serif;
    font-size:27px;
    color:green;
}
#head2
{
    position:absolute;
    top:40%;
    left:38%;
    font-family:sans-serif;
    font-size:27px;
    color:green;
}
#head3
{
    position:absolute;
    top:40%;
    left:42%;
    font-family:sans-serif;
    font-size:27px;
    color:green;
}
a{
    color:#993366;
    text-decoration: none;
    font-family:sans-serif;
    font-size:25px;
    
}
#list{
    position:absolute;
    top:35%;
    left:20%;
}
#options{
    
    color:#FF6600;
    padding:10px;
}
ul{
    display: block;
    float:right;
    list-style:none;
}
#form1
{
    position:absolute;
    top:52%;
    left:10%;
    width:80%;
    
}
#dis2
{
    position:absolute;
    top:52%;
    left:20%;
    width:80%;
    
}
#instable
{
    color:blue;
    font-weight: 700;
    background-color:#e6ffcc;
    visibility: hidden;
}
#instructions
{
    background-color: #aaa;
    width:50%;
    border-radius: 5px;
    padding: 3px;
    margin-top: 3px;
    border-color:black;
    border-style:solid;
}